# Temporäre Ansible-Dateien
*.retry
*.log
.ansible/

# Python-Cache
__pycache__/
*.pyc

# Sensible Daten (falls du Schlüssel oder Vault-Passwörter nutzt)
*.pem
*.key
vault_pass.txt

# Asciinema Casts, GIFs und Hilfsskripte
*.cast
demo.gif
trim_cast.py
convert.py
